@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

/* No horizontal scrollbar */
#content browser{margin-right:-14px !important;
		 overflow-y:scroll; overflow-x:hidden;}

/* No "X" button to close tab */
.tab-close-button{display:none !important;}

/* No auto-complete arrow on location bar */
.autocomplete-history-dropmarker{display: none !important;}

/* Kill all tab icons, no matter what */
.tabbrowser-tabs .tab-icon {
  display: none;
}

/* Remove New Tab button */
.tabs-newtab-button {display:none !important;}
